version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    container_name: job_tracker_web
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - rabbitmq
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: job_tracker_db
    environment:
      POSTGRES_DB: jobtracker
      POSTGRES_USER: jobtracker
      POSTGRES_PASSWORD: jobtracker
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: job_tracker_redis

  rabbitmq:
    image: rabbitmq:3-management
    container_name: job_tracker_rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"

volumes:
  postgres_data: